@media screen and (min-width:576px) {
    .container {
        width: 54rem;
    }

    .services {
        margin-top: -14rem;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 72rem;
    }

    .nav__btn,
    .nav-menu {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media screen and (min-width:992px) {
    .container {
        width: 96rem;
    }

    .header__links {
        display: block;
    }

    .hero__text {
        max-width: 50rem;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 114rem;
    }
}

@media screen and (min-width:1400px) {
    .container {
        width: 137rem;
    }
}