@media (max-width: 395px) {
    .hero__tittle {
        font-size: 4rem;
    }

    .newsletter__tittle {
        max-width: 16rem;
    }

    .footer {
        text-align: center;
    }

    .footer__right {
        justify-content: center;
    }

    .footer-list {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width:410px) {
    .container {
        width: 39rem;
    }

    .services {
        margin-top: -14rem;
    }
}

@media screen and (min-width:576px) {
    .container {
        width: 54rem;
    }

}

@media screen and (min-width:768px) {
    .container {
        width: 72rem;
    }

    .nav__btn,
    .nav-menu {
        display: none;
    }

    .menu {
        display: flex;
    }

    .newsletter {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .newsletter__content {
        flex-basis: 60%;
        padding-right: 2rem;
    }

    .newsletter__banner {
        flex-basis: 40%;
    }
}

@media screen and (min-width:992px) {
    .container {
        width: 96rem;
    }

    .header__links {
        display: block;
    }

    .hero__text {
        max-width: 50rem;
    }

    .newsletter__content {
        padding-right: 4rem;
    }

    .footer-app {
        display: block;
    }

    .footer-app--mobile {
        display: none;
    }

    .footer__wrapper {
        display: flex;
    }

    .footer__left {
        max-width: 50rem;
    }

    .footer__scroll {
        left: auto;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 114rem;
    }

    .newsletter {
        justify-content: space-between;
    }

    .newsletter__content {
        flex-basis: auto;
        width: 60rem;
    }

    .newsletter__banner {
        flex-basis: auto;
        width: 42rem;
    }

    .footer__wrapper {
        justify-content: space-between;
    }

    .footer-list {
        margin-bottom: 0;
        margin-left: 2rem;
    }
}

@media screen and (min-width:1400px) {
    .container {
        width: 137rem;
    }

    .newsletter {
        padding: 3rem 6rem;
    }
}