:root {
    --orange: #E76F51;
    --white: #fff;
    --second-white: #eee;
    --grey: #d2d2d2;
    --dark: #3b3735;
    --tr: all 0.3s ease-in-out
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*font-size: 62.5% = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    line-height: 1.6;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}


/*-- Reset Style --*/

a {
    text-decoration: none;
}

/*-- Helper Class --*/

/*-- Component --*/

.btn {
    display: block;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    color: var(--white);
    background-color: var(--dark);
    width: 18rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto-Medium';
}

/*-- App Style --*/

.header {
    background: linear-gradient(rgba(59, 55, 53, 0.4), rgba(59, 55, 53, 0.4)),
        url(../images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 9rem;
}

/* --nav Bar-- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
}

/* --desktop nav-- */

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-logo {
    display: block;
    margin-right: 4rem;
    width: 5rem;
    height: 5rem;
}

.app-logo__image {
    width: 100%;
    height: 100%;
}

.menu {
    display: none;
}

.menu__item {
    margin-right: 1.5rem;
}

.menu__link {
    color: var(--grey);
    transition: var(--tr);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -ms-transition: var(--tr);
    -o-transition: var(--tr);
}

.menu__link--active {
    color: var(--white);
    position: relative;
    font-family: 'Roboto-Medium';
    z-index: 5;
}

.menu__link--active::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 0.3rem;
    border-radius: 3rem;
    background-color: var(--orange);
    transform: translateY(10px) rotate(45deg);
    z-index: -1;
}

.menu__link:hover {
    color: var(--white);
    transition: var(--tr);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -ms-transition: var(--tr);
    -o-transition: var(--tr);
}

/* --mobile nav-- */

.nav-menu {
    position: fixed;
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    background-color: #343434;
    padding: 2.5rem;
    transition: var(--tr);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -ms-transition: var(--tr);
    -o-transition: var(--tr);
}

.mobile-menu {
    margin-bottom: 3rem;
}

.mobile-menu__item {
    margin-bottom: 1rem;
}

.mobile-menu__link {
    color: var(--white);
}

.nav-menu__links {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu__link {
    color: #fff;
    border: solid 2px #eee;
    padding: 1rem 1.3rem;
    border-radius: 1.6rem;
}

/* --nav button-- */

.header__links {
    display: none;
}

.header__link {
    color: var(--second-white);
    font-family: 'Roboto-Medium';
    padding: 1.3rem 3rem;
}

.header__link--border {
    border: 1px solid var(--second-white);
    border-radius: 10rem;
    transition: var(--tr);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -ms-transition: var(--tr);
    -o-transition: var(--tr);
}

.header__link--border:hover {
    background-color: var(--white);
    color: var(--dark);
    transition: var(--tr);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -ms-transition: var(--tr);
    -o-transition: var(--tr);
}

/* --menu for mobile-- */

.nav__btn {
    background: var(--white);
    width: 5rem;
    height: 5rem;
    border-radius: 1.8rem;
    -webkit-border-radius: 1.8rem;
    -moz-border-radius: 1.8rem;
    -ms-border-radius: 1.8rem;
    -o-border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav__btn-line {
    background: var(--orange);
    width: 2.8rem;
    height: 0.3rem;
    display: block;
    border-radius: 1.8rem;
    position: relative;
}

.nav__btn-line::after,
.nav__btn-line::before {
    content: '';
    position: absolute;
    background: var(--orange);
    width: 2.8rem;
    height: 0.3rem;
    display: block;
    border-radius: 1.8rem;
    transition: var(--tr);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -ms-transition: var(--tr);
    -o-transition: var(--tr);
}

.nav__btn-line::after {
    top: -.8rem;
}

.nav__btn-line::before {
    top: .8rem;
}

.nav__btn--open .nav__btn-line {
    background-color: transparent;
}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
}

/* --Hero-- */

.hero {
    text-align: center;
    margin-top: 6rem;
}

.hero__tittle {
    font-family: 'Archivo-Black';
    color: var(--second-white);
    font-size: 5rem;
    line-height: 1.2;
    max-width: 35rem;
    margin: 0 auto 3rem auto;
}

.hero__text {
    color: var(--white);
    font-size: 1.8rem;
    max-width: 34rem;
    margin: 0 auto 2rem auto;
}

.hero__button {
    background-color: var(--orange);
}